.portfolio-img{
    max-width: 40px !important;
}
.text-card_portfolio{
    overflow-y: auto;
    max-height: 70px;
}

.card-title{
    font-size: 15px !important;
}


@media screen and (max-width: 600px){
.portfolio-img{
    max-width: 20px !important;
}
.text-card_portfolio{
    overflow-y: auto;
    min-height: 120px;
}
.card-width{
    min-height: 800px !important;
}
}

@media screen and (max-width: 700px){
.portfolio-img{
    max-width: 40px !important;
}
.text-card_portfolio{
    overflow-y: auto;
    max-height: 70px;
}
.card-width{
    min-height: 600px !important;
}
.card-title{
    font-size: 15px !important;
}
.card-wrap{
    width: 100% !important;
}

}