.portfolio-img{
    max-width: 40px !important;
}
.text-card_portfolio{
    overflow-y: auto;
    max-height: 70px;
}
.card-width{
    max-height: 500px !important;
}
.card-title{
    font-size: 15px !important;
}

@media screen and (min-width: 600px){
.portfolio-img{
    max-width: 20px !important;
}
.text-card_portfolio{
    overflow-y: auto;
    max-height: 120px;
}
.card-width{
    max-height: 800px !important;
}
}

@media screen and (min-width: 700px){
.portfolio-img{
    max-width: 40px !important;
}
.text-card_portfolio{
    overflow-y: auto;
    max-height: 70px;
}
.card-width{
    max-height: 600px !important;
}
.card-title{
    font-size: 15px !important;
}

}